<p>name is {{firstname | uppercase}}</p>
<p>name is {{lastname | lowercase}}</p>
<b>{{6589.23 | currency:"EUR"}}</b>
<p>{{todaydate | date:'d/M/y'}}</p>
<p>{{todaydate | date:'longTime'}}</p>
<p>{{todaydate | date:'sortTime'}}</p>
<p>{{ jsonval | json }}</p>
<p>{{00.54565 | percent}}</p>
<p>{{months | slice:2:6}}</p>
<p>{{ 454.78787814 | number: '3.4-5' }}</p>
<!-- custom pipe -->
<h1>{{'custom pipe' | uppercase}}</h1>
<p>Square root of 25 is: {{25 | sqrt}}</p>
<p>string concat : {{'sunny' | stringAdd}}</p>